@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    margin: 0;
}

* {
    /* outline: 0.5px solid green; */
    scroll-behavior: smooth;
    user-select: none;
}

.greeting-text {
    font-size: 5.5rem;
    line-height: 0.95;
}

.top-to-bottom-section-div {
    transform: translateY(-100%);
    filter: opacity(0.4);
    animation: top-to-bottom-section-animation 750ms ease-in-out forwards;
}

.right-to-left-div {
    transform: translateX(200%);
    filter: opacity(0.5);
    animation: right-to-left-div-animation 1500ms cubic-bezier(0.31, 0.07, 0.33, 0.77) forwards;
}

.red-blue-switch {
    color: rgb(37 99 235 / 1);
    animation: red-blue-switch-animation 4000ms ease infinite;
}

.fade-in-1 {
    opacity: 0;
    animation: fade-in-animation 300ms ease 1.6s forwards;
}

@keyframes top-to-bottom-section-animation {
    to {
        transform: translateY(0);
        filter: opacity(1);
    }
}

@keyframes right-to-left-div-animation {
    to {
        transform: translateX(0%);
        filter: opacity(1);
    }
}

@keyframes red-blue-switch-animation {
    50% {
        color: rgb(220 38 38 / 1);
    }
    100% {
        color: rgb(37 99 235 / 1);
    }
}

@keyframes fade-in-animation {
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 767px) {
    .greeting-text {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 479px) {
    .greeting-text {
        font-size: 1.5rem;
    }
}
